---
import Layout from "../layouts/Layout.astro";
---

<Layout title="FAQ">
  <main>
    <div class="row">
      <div class="col-12 col-6-md">
        <div>TODO</div>
      </div>
      <div class="col-12 col-6-md">
        <div>TODO</div>
      </div>
    </div>
  </main>
</Layout>
