---
import "chota/dist/chota.min.css";
---

<nav class="nav">
  <div class="container">
    <div class="nav-left">
      <a class="brand" href="/">
        <img src="/img/logo-blm.png" alt="" />
      </a>
    </div>
    <div class="nav-right">
      <!-- TODO - this isn't the best dropdown nav implementation, thrown together quickly for now -->
      <details class="dropdown">
        <summary class="nav-dropdown">Leaderboards</summary>
        <!-- TODO - make this list populate dynamically -->
        <div class="nav-dropdown-links">
          <a href="/leaderboards/jak1">Jak and Daxter: The Precursor Legacy</a>
          <a href="/leaderboards/jak2">Jak II</a>
          <a href="/leaderboards/jak3">Jak 3</a>
          <a href="/leaderboards/jaktrifecta">Trifecta</a>
          <a href="/leaderboards/jakx">Jak X: Combat Racing</a>
          <a href="/leaderboards/daxter">Daxter</a>
          <a href="/leaderboards/jaktlf">Jak and Daxter: The Lost Frontier</a>
        </div>
      </details>
      <details class="dropdown">
        <summary class="nav-dropdown">Resources</summary>
        <div class="nav-dropdown-links">
          <a href="https://jakspeedruns.com/rco">RCO</a>
        </div>
      </details>
      <a href="/about">About</a>
      <a href="https://discord.jakspeedruns.com/">Discord</a>
      <a href="https://wiki.jakspeedruns.com/">Wiki</a>
      <a href="/faq">FAQ</a>
    </div>
  </div>
</nav>
<style>
  .nav {
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: rgb(19, 19, 19);
  }
  .nav-dropdown {
    line-height: 29px; /* TODO - a bit of a hack! */
    border: 1px solid transparent;
    border-radius: 4px;
    color: var(--color-darkGrey);
    cursor: pointer;
    display: inline-block;
    font-size: var(--font-size);
    padding: 1rem 2.5rem;
    text-align: center;
    text-decoration: none;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
  }
  .nav-dropdown-links {
    border: 1px solid gray;
    border-radius: 5px;
  }
</style>
