---
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import PageLayoutSplit from "@layouts/PageLayoutSplit.astro";
import { t } from "@util/translate";

export async function getStaticPaths() {
  const posts = (await getCollection("leaderboard")).sort(
    (a, b) => b.data.order - a.data.order,
  );
  return posts.map((post, index) => {
    return {
      params: { slug: post.slug },
      props: {
        ...post,
        data: {
          ...post.data,
        },
      },
    };
  });
}

type Props = CollectionEntry<"leaderboard">;
const base_url = "leaderboard";
const post = Astro.props;
const { Content } = await post.render();
import Leaderboard from '@components/leaderboard/Leaderboard.vue'
import { Suspense } from "vue";
---

{
  post.data.style.template === "split" && (
    <PageLayoutSplit {...post.data} {base_url}>
      <div class="richtext pb-8">
        <Content/>
        <Suspense>
          <Leaderboard client:only gameId={post.data.gameId} extensionGameId={post.data.extensionGameId} />
        </Suspense>
      </div>
    </PageLayoutSplit>
  )
}
